@media only screen
and (device-height: 667px)
and (device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    #container {
        height: 900px;
    }

    #header {
        background-color: #8C88EE;
        position: fixed;
        height: 75px;
        width: 100%;
        z-index: 1;
        margin-left: -8px;
        margin-top: -75px;
    }
    #firstLine {
        padding-top: 100px;
        padding-left: 20px;
        color: rgb(169, 229, 178);
        font-size: 500%;
    }

    #firstDate {
        margin-top: -10px;
    }

    #timeline {
        color: rgb(215, 134, 134);
        padding-right: 20px;
        font-size: 150%;
    }

    .dates {

    }

    .events {

    }

    #footer {
        background-color: #8C88EE;
        height: 46px;
        width: 365px;
        margin-left: -8px;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 4px;
    }

    #footer p {
        font-align: center;
        font-size: 15px;
        font-family: Courier;
        color: #FFFFFF;
    }

    #logo img {
        height: 150px;
        width: 150px;
        margin-left: 100px;
        margin-top: 0px;
    }

    #main {
        background-image: url("../Images/background2.png"); /*Image taken from 'http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg' then modified*/
        background-position: -300px;
        height: 1650px;
        width: 375px;
        margin-left: -8px;
    }

    .dropbtn {
        background-color: #8C88EE;
        color: #ffffff;
        font-size: 40px;
        border: none;
        width: 30px;
        height: 75px;
        margin-left: -20px;
        margin-top: -170px;
        padding-top: 10px;
        float: left;
    }

    /*The following lines pertaining to dropdown content was borrowed from 'http://www.w3schools.com/howto/howto_js_dropdown.asp' then modified*/
    /*Container positioning*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #8C88EE;
        min-width: 160px;
        margin-top: -95px;
        float: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: rgb(169, 229, 178);
        padding: 22px 16px 0px 0px;
        margin-top: -10px;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 20px;
        font-family: Calabri;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
}