@media only screen
    and (device-width: 375px)
    and (device-height: 667px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait) {

    #container {
        height: 810px;
    }
    #header {
        background-color: #8C88EE;
        position: fixed;
        height: 13.5%;
        width: 100%;
        z-index: 1;
        margin-left: -8px;
        margin-top: -72px;
    }

    #footer {
        background-color: #8C88EE;
        height: 46px;
        width: 365px;
        margin-left: -8px;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 4px;
    }

    #footer p {
        font-align: center;
        font-size: 15px;
        font-family: Courier;
        color: #FFFFFF;
    }

    #logo img {
        height: 150px;
        width: 150px;
        margin-left: 100px;
        margin-top: 0px;
    }

    #main {
        background-image: url("../Images/background2.png"); /*Image taken from 'http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg' then modified*/
        background-position: -300px;
        height: 800px;
        width: 375px;
        margin-left: -8px;
    }

    h1 {
        margin-top: 50px;
        padding-top: 50px;
        color: rgb(215, 134, 134);
        font-size: 80px;
        padding-left: 12px;
        padding-right: 10px;
        text-align: center;
    }

    #main p {
        color: rgb(169,229,178);
        margin-top: -20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        text-align: center;
        font-family: Georgia;
    }

    /*The following lines pertaining to dropdown content was borrowed from 'http://www.w3schools.com/howto/howto_js_dropdown.asp' then modified*/
    /* Dropdown Button */
    .dropbtn {
        background-color: #8C88EE;
        color: #ffffff;
        font-size: 40px;
        border: none;
        width: 30px;
        height: 75px;
        margin-left: -20px;
        margin-top: -170px;
        padding-top: 10px;
        float: left;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #8C88EE;
        min-width: 160px;
        margin-top: -95px;
        float: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(169, 229, 178);
        padding: 22px 16px 0px 0px;
        margin-top: -10px;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 20px;
        font-family: Calabri;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
}

@media only screen
and (device-width: 375px)
and (device-height: 667px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) {

    #container {
        height: 500px;
    }
    #header {
        background-color: #8C88EE;
        position: fixed;
        height: 75px;
        width: 100%;
        z-index: 1;
        margin-left: -8px;
        margin-top: -72px;
    }

    #footer {
        background-color: #8C88EE;
        height: 46px;
        width: 102.5%;
        margin-left: -8px;
        margin-top: 0px;
        padding-top: 4px;
    }

    #footer p {
        text-align: center;
        font-size: 15px;
        font-family: Courier;
        color: #FFFFFF;
        margin-left: 1%;
        margin-right: 1%;
    }

    #logo img {
        height: 150px;
        width: 150px;
        margin-left: 250px;
        margin-top: 0px;
    }

    #main {
        background-image: url("../Images/background2.png"); /*Image taken from 'http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg' then modified*/
        background-position: -300px;
        height: 520px;
        width: 102.5%;
        margin-left: -8px;
    }

    h1 {
        margin-top: 50px;
        padding-top: 50px;
        color: rgb(215, 134, 134);
        font-size: 80px;
        padding-left: 12px;
        padding-right: 10px;
        text-align: center;
    }

    #main p {
        color: rgb(169,229,178);
        margin-top: -20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        text-align: center;
        font-family: Georgia;
    }

    /*The following lines pertaining to dropdown content was borrowed from 'http://www.w3schools.com/howto/howto_js_dropdown.asp' then modified*/
    /* Dropdown Button */
    .dropbtn {
        background-color: #8C88EE;
        color: #ffffff;
        font-size: 40px;
        border: none;
        width: 30px;
        height: 75px;
        margin-left: -20px;
        margin-top: -170px;
        padding-top: 10px;
        float: left;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #8C88EE;
        min-width: 160px;
        margin-top: -95px;
        float: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(169, 229, 178);
        padding: 22px 16px 0px 0px;
        margin-top: -10px;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 20px;
        font-family: Calabri;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
}